* {
    color: white;
    background-color: #7a520d;
    user-select: none;
}

#cookies {
    width: 500px;
    text-align: center;
    font-size: 36px;
    margin: 0;
}

#cookiesPerClick {
    width: 500px;
    text-align: center;
}

#cookieImg {
    display: block;
}

button {
    background-color:green;
    display: inline;
}

button:disabled {
    background-color: gray;
}

#upgradeClicker {
    display: none;
}

div {
    background-color: white;
    height: 10px;
    width: 0px;
    max-width: 500px;
}