* {
    color: white;
    background-color: #5e3e07;
    user-select: none;
}

#cookies {
    width: 500px;
    text-align: center;
    font-size: 36px;
    margin: 0;
}

#cookiesPerClick {
    width: 500px;
    text-align: center;
}

button {
    background-color:green;
    display: inline;
}

button:disabled {
    background-color: gray;
}

#upgradeClicker, #rebirthButton {
    display: none;
}

#autoClicker {
    background-color: white;
    height: 20px;
    width: 0px;
    max-width: 500px;
    color: black;   
}


#rebirthButton {
    font-size: 50px;
    width: 500px;
    height: 60px;
}

#smallText {
    font-size: 12px;
    font-style: italic;
    background-color: green;
    margin: 0;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#rebirths {
    color: #5cf4ff;
    font-size: 20px;
    width: 500px;
    text-align: center;
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
}